<form action="/articles" method="post">
  Title: <input type="text" name="title" value="Article Title Here"><br>
  Content: <input type="text" name="content" value="Article Content Here"><br>
  <input type="submit" value="Submit">
</form>
