<form action='/articles' method='post'>
Title = <input id='title' type='text' name="title">
Content = <input id='content' type='text' name="content">
<input type='submit' value='Create Article'>
</form>