

<form action="/articles" method="post">
  Title
  <input type="text" name="title" value="Enter title">
  Content
  <input type="text" name="content" value="Enter your content">
  <input type="submit" value="Submit">
</form>