
<h2> Title </h2>
<%= @article.title %>
<h4>Content</h4>
<%= @article.content %>


<form action="/articles/<%= @article.id %>" method="post">
<input type="hidden" name="_method" value="delete">
<input type="submit" value="Delete">
</form>
